/* custom_styles.css */

.business-label {
    display: inline-block; /* Display the labels inline */
    margin-right: 20px; /* Add space between labels */
    white-space: nowrap;
    font-family: Arial, sans-serif; /* Specify a font family */
}

.business-input {
    margin-right: 5px; /* Add space between radio buttons */
    vertical-align: middle;
}

.business-label input[type="radio"] {
    margin-right: 5px; /* Add space between radio buttons and labels */
}
